<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079911871567-3s3ke64lveptqam2jeahednu9761an7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079911871567-3s3ke64lveptqam2jeahednu9761an7n</string>
	<key>API_KEY</key>
	<string>AIzaSyCcySGqSvtx8xE62nBaj9jC80ca0BZ59d8</string>
	<key>GCM_SENDER_ID</key>
	<string>1079911871567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Belay.Swift-Belay</string>
	<key>PROJECT_ID</key>
	<string>belay-1c65e</string>
	<key>STORAGE_BUCKET</key>
	<string>belay-1c65e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079911871567:ios:b01b4fae236a90a704263a</string>
</dict>
</plist>