<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1663652394083950</string>
				<string>com.googleusercontent.apps.245235086620-202prhlo4gggpj9ur4sps75q7vqc528m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1079911871567-3s3ke64lveptqam2jeahednu9761an7n</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1663652394083950</string>
	<key>FacebookClientToken</key>
	<string>2346b1cbd3808eb30d40f2ea079363a0</string>
	<key>FacebookDisplayName</key>
	<string>Belay</string>
	<key>GIDClientID</key>
	<string>245235086620-202prhlo4gggpj9ur4sps75q7vqc528m.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
